# Reddit credentials
class reddit_config:
    username = "CHANGEME"
    password = "CHANGEME"
    client_id = "CHANGEME"
    client_secret = "CHANGEME"


# Firebase credentials
class firebase_config:
    apikey = 'CHANGEME'
    auth_domain = "CHANGEME"
    database_url = 'CHANGEME'
    storage_bucket = 'CHANGEME'
    service_account = 'CHANGEME'

    user_email = 'CHANGEME'
    user_pass = 'CHANGEME'


def create_print_text(key, value):
    print_text = 'export %s=\"%s\"' % (key, str(value))
    return print_text


def print_credentials_to_terminal():
    reddit_credentails = create_print_text('REDDIT_USERNAME', reddit_config.username) + '\n' + \
                         create_print_text('REDDIT_PASSWORD', reddit_config.password) + '\n' + \
                         create_print_text('REDDIT_CLIENT_ID', reddit_config.client_id) + '\n' + \
                         create_print_text('REDDIT_CLIENT_SECRET', reddit_config.client_secret)

    firebase_credentials = create_print_text('FIREBASE_APIKEY', firebase_config.apikey) + '\n' + \
                           create_print_text('FIREBASE_AUTHDOMAIN', firebase_config.auth_domain) + '\n' + \
                           create_print_text('FIREBASE_DB_URL', firebase_config.database_url) + '\n' + \
                           create_print_text('FIREBASE_STORAGE', firebase_config.storage_bucket) + '\n' + \
                           create_print_text('FIREBASE_SERVICE', firebase_config.service_account) + '\n' + \
                           create_print_text('FIREBASE_USER', firebase_config.user_email) + '\n' + \
                           create_print_text('FIREBASE_PASS', firebase_config.user_pass)

    print reddit_credentails + '\n' + firebase_credentials
